.carrousel-entete {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0;
  padding: 0 20px;
}

.carrousel-defilant {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
  padding-inline: 20px;
  padding-bottom: 10px;
}

.carrousel-carte {
  flex-shrink: 0;
  flex-basis: 28ch;
}

@media (max-width: 1500px) {
  .carrousel-defilant {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
}
