.carte {
  position: relative;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  border: 1px solid black;
}

.carte-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
}

.carte-detail picture {
  max-width: 100%;
  height: 200px;
}
.carte-detail picture img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.carte-information {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.carte-titre {
  font-size: 20px;
}

.carte-texte {
  font-size: 14px;
}

.carte-icone {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.carte-icone img {
  cursor: pointer;
}
