@import "typographie.css";
@import "carte.css";
@import "grille.css";
@import "navigation.css";
@import "menu-deroulant.css";
@import "logo.css";
@import "bouton.css";
@import "pied-de-page.css";
@import "contenu-principal.css";
@import "barre-laterale.css";
@import "recherche.css";
@import "filtres-form.css";
@import "tri.css";
@import "entete.css";
@import "enchere.css";
@import "pagination.css";
@import "carrousel.css";
@import "mode-payement.css";

/* formulaire */
.form-base {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 500px;
  margin: 60px auto;
  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.form-base > * {
  margin-top: 10px;
}

.form-base input,
select {
  padding: 10px 5px;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.bouton-submit {
  min-width: 100px;
  /* background: #83a396; */
  background: #8d0801;
  /* color: #fff; */
  color: #f4d58d;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
  padding: 5px;
  border-radius: 4px;
  align-items: center;
  text-align: center;
}

.bouton-submit:hover {
  background: #f4d58d;
  color: #8d0801;
}
.error {
  color: red;
  font-size: 14px;
}

/* Formulaire */
.user-form {
  margin-top: 10px;
  display: inline-block;
}

[id="user-auction"] {
  display: flex;
  gap: 50px;
}

.img-box {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px 0;
}

.mise-input {
  width: 100%;
  padding: 10px 12px;
  font-size: 16px;
  border: 1px solid #999;
  border-radius: 6px;
  box-sizing: border-box;
  border-radius: 25px;
  padding-left: 16px;
}

.bid-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
